@model GSP.Models.ViewModels.EditVehicleServiceRequest
@{
    ViewData["Title"] = "Edit Service Rate";
}

<div class="container py-3">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["AlertMessage"]
        </div>
    }
    <form method="post">

        <!-- Validation summary to show all errors at the top -->
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label asp-for="Name"> Designation</label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="Cost">Service Cost</label>
                    <div class="input-group">
                        <input asp-for="Cost" class="form-control" required type="number" step="0.001" min="0" />
                        <div class="input-group-append">
                            <span class="input-group-text"> KD</span>
                        </div>
                    </div>
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="VehicleId">Selected Vehicle</label>
                    <select asp-for="VehicleId" asp-items="@Model.Vehicles" class="form-control" disabled>
                        <option value="">-- Select Vehicle --</option>
                    </select>
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="VehicleTypeId">Selected Vehicle Type</label>
                    <select asp-for="VehicleTypeId" asp-items="@Model.VehicleTypes" class="form-control" disabled>
                        <option value="">-- Select Vehicle Type --</option>
                    </select>
                    <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="MileageId">Selected Mileage</label>
                    <select asp-for="MileageId" asp-items="@Model.Mileages" class="form-control" disabled>
                        <option value="">-- Select Mileage --</option>
                    </select>
                    <span asp-validation-for="MileageId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row d-sm-flex justify-content-center mt-3 ">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-sm btn-primary col-sm-6"><i class="fa fa-retweet"></i>  Save Changes</button>
        </div>
    </form>
</div>


